PORT=3000
DATABASE_URL=postgresql://postgres:Uchiha_11@localhost:5432/dns_lab-db

DNS_LEGIT_HOST=localhost
DNS_LEGIT_PORT=1053
DNS_SPOOF_HOST=localhost
DNS_SPOOF_PORT=2053

LEGIT_IP=172.20.0.11
FAKE_IP=172.20.0.12